.theme-light {
  --palette-base-50: 24 24 27;
  --palette-base-100: 39 39 42;
  --palette-base-200: 63 63 70;
  --palette-base-300: 82 82 91;
  --palette-base-400: 113 113 122;
  --palette-base-500: 161 161 170;
  --palette-base-600: 212 212 216;
  --palette-base-700: 228 228 231;
  --palette-base-800: 243 244 246;
  --palette-base-900: 250 250 250;

  --palette-accent: 37 99 235;

  --theme-primary: var(--palette-accent);
  --theme-secondary: var(--palette-base-900);
  --theme-secondary-text: var(--palette-base-200);

  .btn {
    @apply shadow;

    &-transparent,
    &-outline {
      @apply shadow-none;
    }
  }
}
