meta = {
    name = '<ModName>',
    version = '0.1',
    description = '',
    author = '',
}

local level_sequence = require("LevelSequence/level_sequence")

level_sequence.load_levels()

level_sequence.set_on_win(function(attempts, total_time)
    print("You won!")
    warp(1, 1, THEME.BASE_CAMP)
end)

set_callback(level_sequence.activate, ON.LOAD)

set_callback(level_sequence.activate, ON.SCRIPT_ENABLE)

set_callback(level_sequence.deactivate, ON.SCRIPT_DISABLE)