Pillow==9.5.0
anyio==3.6.2
colorhash==1.2.1
fnvhash==0.1.0
httpx==0.24.0
hypercorn==0.14.3
packaging==23.1
platformdirs==3.5.1
pyperclip==1.8.2
pyserde==0.10.5
requests==2.30.0
sfyi-fsb5==1.1
starlette==0.27.0
typing_extensions==4.6.0
websockets==11.0.3
zstandard==0.21.0
