Pillow==9.1.1
anyio==3.6.1
colorhash==1.0.4
fnvhash==0.1.0
hypercorn==0.13.2
packaging==21.3
platformdirs==2.5.2
pyperclip==1.8.2
pyserde==0.8.0
requests==2.27.1
sfyi-fsb5==1.1
starlette==0.20.2
typing_extensions==4.2.0
websockets==10.3
zstandard==0.17.0
