Pillow==9.2.0
anyio==3.6.1
colorhash==1.0.4
fnvhash==0.1.0
hypercorn==0.14.1
packaging==21.3
platformdirs==2.5.2
pyperclip==1.8.2
pyserde==0.9.0
requests==2.28.1
sfyi-fsb5==1.1
starlette==0.20.4
typing_extensions==4.3.0
websockets==10.3
zstandard==0.18.0
