:root,
body,
#app {
  height: 100%;
  overflow: hidden;
}

input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}

input[type="color"]::-webkit-color-swatch {
  border: none;
}

input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
