[package]
name = "launcher"
version = "0.1.0"
authors = ["garebear <mail@spelunky.fyi>"]
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
directories = "4.0.1"
zip = "0.6.3"
anyhow = "1.0.66"
clap = "4.0.23"
sha2 = "0.10.6"

[build-dependencies]
zip = "0.6.3"
walkdir = "2.3.2"
sha2 = "0.10.6"

[target.'cfg(windows)'.build-dependencies]
winres = "0.1"

[[bin]]
name = "modlunky2"
path = "src/main.rs"