{% extends "base.html" %}

{% block content %}
<div class="row">
  <div class="col-lg-12">
    <h1>Asset Management</h1>
    This page provides tools for extracting and repacking assets. This allows you to create texture mods, change level generation, and more. This tool is designed for version 1.15 of Spelunky 2.
    <hr />
    <div class="card mb-3 rounded-0">
        <div class="card-header rounded-0">
          Extract Assets
        </div>
        <div class="card-body">
          The following executables have been found in your installation directory. Choose one to extract your assets from.
          <form class="mt-3" action="/assets/extract/" method="POST">
          {% for exe in exes %}
          <div class="ml-2 form-check">
            <input class="form-check-input" type="radio" name="extract-target" id="extract-target-{{loop.index}}" value="{{exe}}">
            <label class="form-check-label" for="extract-target-{{loop.index}}">
              <code>{{exe}}</code>
            </label>
          </div>
          {% endfor %}
          <button type="submit" class="mt-3 btn btn-primary">Extract</button>
          </form>       
        </div>
      </div>
      <div class="card mb-3 rounded-0">
        <div class="card-header rounded-0">
          Repack Assets
        </div>
        <div class="card-body">
          {% if overrides is none %}
          No Overrides directory found. Have you extracted assets yet?
          {% elif not overrides|length %}
          No files found in your Overrides directory. If you've recently added some you can refresh the page to see them.
          {% else %}
          The following files have been found. These files will override the default assets
          when you repack the binary.
          
          <ul class="mt-3">
          {% for override in overrides %}
            <li><code>{{override}}</code></li>
          {% endfor %}
          </ul>
          <form class="mt-3" action="/assets/repack/" method="POST">
          <button type="submit" class="mt-3 btn btn-primary">Repack</button>
          </form>
          {% endif %}       
        </div>
      </div>
  </div>    
</div>
{% endblock %}