{% extends "base.html" %}

{% block content %}
<div class="row">
  <div class="col-lg-6">
    <h1>Welcome to Modlunky 2 v{{config.MODLUNKY_CURRENT_VERSION}}</h1>
    <hr />
    <div class="mt-2">
      Welcome to the entry page of Modlunky 2. This is a frontend tool to assist
      with modifying your experience with Spelunky 2.
    </div>

    <h3 class="mt-5">Credits</h3>
    <hr />
    Without these people, this project would not exist.
    <ul>
      {% for person in people %}
        <li>
          {{person.name}}
          {% if person.links %}
          {% for link in person.links %}
            <a href="{{link.link}}"><i class="fab fa-{{link.site}}"></i></a>
          {% endfor %}
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  </div>
  <div class="col-lg-6">
    <div class="card mb-3 rounded-0">
        <div class="card-header rounded-0">
          Tools
        </div>
        <div class="card-body">
        <ul class="list-unstyled">
          <li><a href="/assets/">Asset Management (Extraction / Repacking)</a></li>
        </ul>
        </div>
      </div>
  </div>
</div>
{% endblock %}
