@font-face {
    font-family: firaSans;
    src: url(https://cdn.spelunky.fyi/static/fonts/FiraSans-Regular.ttf?v=1);
  }
  
  html, body {
      height: 100%;
      font-family: firaSans;
  }
  
  body {
      background-image:url('https://cdn.spelunky.fyi/static/images/game-textures/bg_cave.png');
  }
  
  .container {
      background-image: url('https://cdn.spelunky.fyi/static/images/custom/main-background-left.png');
      background-repeat: repeat-y;
      background-position: left top;
      height: 100%;
      margin-top: 0px;
      padding: 0px;
      padding-top: 56px;
      box-shadow: 4px 4px 5px 1px rgba(0, 0, 0, 0.4);
  }
  
  @media only screen and (min-width : 1700px) {
      .container { max-width: 1600px; }
  }
  
  .content {
      background-color: #efe7c6;
      padding: 25px 65px 25px 15px;
      margin: 0px 0px 0px 75px;
      overflow-y: scroll;
  }
  
  .table-bordered td, .table-bordered th {
      border: 1px solid #15182b;
  }
  
  .callout {
      padding: 20px;
      margin: 20px 0;
      border: 1px solid #eee;
      border-left-width: 5px;
      border-radius: 3px;
      background-color: #efdd93;
  }
  
  .callout h4 {
      margin-top: 0;
      margin-bottom: 5px;
  }
  .callout p:last-child {
      margin-bottom: 0;
  }
  .callout code {
      border-radius: 3px;
  }
  .callout + .bs-callout {
      margin-top: -5px;
  }
  
  .callout-default {
      border-left-color: #777;
  }
  .callout-default h4 {
      color: #777;
  }
  
  .callout-primary {
      border-left-color: #428bca;
  }
  .callout-primary h4 {
      color: #428bca;
  }
  
  .callout-success {
      border-left-color: #5cb85c;
  }
  .callout-success h4 {
      color: #5cb85c;
  }
  
  .callout-danger {
      border-left-color: #d9534f;
  }
  .callout-danger h4 {
      color: #d9534f;
  }
  
  .callout-warning {
      border-left-color: #f0ad4e;
  }
  .callout-warning h4 {
      color: #f0ad4e;
  }
  
  .callout-info {
      border-left-color: #5bc0de;
  }
  .callout-info h4 {
      color: #5bc0de;
  }
  
  .callout-bdc {
      border-left-color: #29527a;
  }
  .callout-bdc h4 {
      color: #29527a;
  }
  
  .text-align-right {
      text-align: right;
  }
  
  .card-header {
      background-color: #9d110e;
      color: white;
  }
  
  .card-body {
      background-color: #fffae6;
  }
  
  a:hover {
      color: #84110f;
  }
  
  a {
      color: #9d110e;
  }
