name: Build exe

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
    paths-ignore:
      - "Cargo.*"
      - "src/libs/**"
      - "src/tauri/**"

jobs:
  build:
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          # Python 3.8 is the latest version supporting Windows 7
          python-version: 3.8
      - name: Set up Rust
        uses: dtolnay/rust-toolchain@stable
      - name: Install dependencies
        run: |
          # Install pyinstaller in addition to usual deps
          python -m pip install --upgrade pip
          pip install -r requirements.txt -r requirements-dev.txt -r requirements-win.txt
      - name: Install package
        run: |
          python setup.py develop
      - name: Lint with flake8
        run: |
          # stop the build if there are Python syntax errors or undefined names
          flake8 src/ --count --select=E9,F63,F7,F82 --show-source --statistics
      - name: Test with pytest
        run: |
          pytest -v src/
      - name: Check pylint
        run: |
          pylint --disable=R,C src/modlunky2
      - name: Build exe
        run: |
          python build-exe.py
      - name: "Upload Artifact"
        uses: actions/upload-artifact@v3
        with:
          name: modlunky2.exe
          path: target/release/modlunky2.exe
          retention-days: 5
