name: UI Tests

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: windows-latest
    strategy:
      fail-fast: false
      matrix:
        node-version: ["16.13.2"]
        npm-version: ["8.5.1"]

    defaults:
      run:
        working-directory: ./src/tauri

    steps:
      - uses: actions/checkout@v2

      - name: Setup Node
        uses: actions/setup-node@v1
        with:
          node-version: 16

      - name: Install Rust stable
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable

      - uses: Swatinem/rust-cache@v1

      - run: npm install

      - run: npm run check

      - run: npm run build

      - uses: tauri-apps/tauri-action@v0