name: UI Testing

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: windows-latest
    strategy:
      fail-fast: false
      matrix:
        node-version: ["16.13.2"]
        pnpm-version: ["6"]

    defaults:
      run:
        working-directory: ./src/tauri

    steps:
    - uses: actions/checkout@v2

    - name: Set up Node ${{ matrix.node-version }}
      uses: actions/setup-node@v2
      with:
        node-version: ${{ matrix.node-version }}

    - name: Set up pnpm ${{ matrix.pnpm-version }}
      uses: pnpm/action-setup@v2.0.1
      with:
        version: ${{ matrix.pnpm-version }}
        run_install: |
          - recursive: true
            args: [--frozen-lockfile, --strict-peer-dependencies]

    - name: Type Checks
      run: |
        pnpm run check

    - name: Lint
      run: |
        pnpm run lint

    - name: Formatting
      run: |
        pnpm run format-check

