.input-number {
  --inputnumber-bg: rgb(var(--palette-base-900) / 0.6);
  --inputnumber-bg-focused: rgb(var(--palette-base-900));
  --inputnumber-text: rgb(var(--palette-base-300));
  --inputnumber-outline: rgb(var(--palette-base-600) / 0.5);
  --inputnumber-outline-focused: rgb(var(--palette-accent));

  @apply flex items-center rounded-sm gap-2 ring-1 border-0 transition;

  background-color: var(--inputnumber-bg);
  color: var(--inputnumber-text);
  --tw-ring-color: var(--inputnumber-outline);

  &:focus {
    background-color: var(--inputnumber-bg-focused);
    --tw-ring-color: var(--inputnumber-outline-focused);
  }

  &.sm {
    @apply w-16 px-2 py-1 text-xs;
  }

  &.md {
    @apply w-20 px-3 py-1 text-base;
  }

  &.lg {
    @apply w-24 px-3 py-2 text-lg;
  }
}
